# sphinx 
/docs/sphinx/build
/docs/sphinx/myenv

# omeka files
/omeka/files

# omeka config files
/omeka/application/config
/omeka/.htaccess

# PHPUnit Tests
*/tests/*

# netbeans project
/omeka/nbproject

# Log Files
*.log

# Project Files
.buildpath
.project
