<phpunit bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Is Part Of Collection Tests">
            <directory>suite</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../IsPartOfCollectionPlugin.php</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="/tmp/report/IsPartOfCollectionPlugin" lowUpperBound="35"
            highLowerBound="70"/>
    </logging>
</phpunit>
